<section class="section section-login" id="top">
	<div class="col-sm-12 signup text-right">
		<h2>Not a member? <a href="#">Sign-up</a></h2>
	</div>
	<!-- LOGIN FORM -->
	<div class="row justify-content-center login_form">
		<div class="col-sm-6 col-md-4 text-center">
			<form>
				<div class="form_field">
					<label>Email Address</label>
					<input type="text" name="email" placeholder="example@email.com">
				</div>

				<div class="form_field">
					<label>Password</label>
					<input type="password" name="password">
				</div>

				<div class="form_field">
					<button>Login</button>
				</div>							
			</form>
		</div>
	</div>
	<!-- LOGIN FORM CLOSED -->
	<div id="login-to-home" onclick="vertical_button_click(this.id);">Home</div>
</section>

<section class="section section-home" id="center">

	<!-- <div class="logo">
		<%#= image_tag "elyxx.png" %>
		<h3>THE FUTURE OF ART AND ARCHITECTURE</h3>
	</div> -->

	<div class="animate">
		<div class="move-top"><%= image_tag "logo_01.png" %></div>
		<div class="part-two"><%= image_tag "logo_02.png" %></div>
	</div>

	<div id="about" onclick="horizontal_button_click(this.id);"><span id="about-text">About</span></div>
	<div id="profile" onclick="horizontal_button_click(this.id);"><span id="profile-text">Profile</span></div>
	<div id="login" onclick="vertical_button_click(this.id);"><span id="login-text">Login</span></div>
	<div id="gallery-main" onclick="vertical_button_click(this.id);"><span id="gallery-text">Gallery</span></div>
</section>

<section class="section section-gallery" id="gallery">

	<div class="gallery_logo">
		<%= image_tag "gallery.png" %>
		<h3>View our specially made collections of art from every facet of your imagination.</h3>
	</div>

	<div id="gallery-to-home" onclick="vertical_button_click(this.id);"><span id="gallery-home-text">Home</span></div>
	<div id="view-gallery" onclick="vertical_button_click(this.id);"><span id="gallery-view-text">View</span></div>
</section>

<section class="section section-about" id="left">
	left
	<div id="about-to-home" onclick="horizontal_button_click(this.id);"><span id="home-text">Home</span></div>
</section>

<section class="section section-profile" id="right">
	right
	<div id="profile-to-home" onclick="horizontal_button_click(this.id);">Home</div>
</section>

<section class="section section-gallery-wall" id="gallery-wall">

	<!-- ADDED ON 2-10-18 -->
	<!-- RIGHT DRAWER -->
			
			<div id="mySidenav" class="sidenav">
					<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
					<a href="#">Image 1</a>
					<a href="#">Image 2</a>
					<a href="#">Image 3</a>
					<a href="#">Image 4</a>
					<a href="#">Image 5</a>
					<a href="#">Image 6</a>
					<a href="#">Image 7</a>
					<a href="#">Image 8</a>
					<a href="#">Image 9</a>
					<a href="#">Image 10</a>
					<a href="#">Image 11</a>
					<a href="#">Image 12</a>					
				</div>
				
				<div id="menu-toggle" onclick="openNav()">
					<div id="hamburger">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				
	<!-- RIGHT DRAWER -->
	<!-- ADDED ON 2-10-18 CLOSED-->

	<div class="container-fluid">
		<div class="col-sm-12">
			<div class="gamma-container gamma-loading" id="gamma-container">
					<ul class="gamma-gallery">
	
						<li>
							<div data-alt="img01" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="https://www.dropbox.com/s/oibqlda6xb4natw/1.jpg?raw=1" data-min-width="1300"></div>
								<div data-src="https://www.dropbox.com/s/oibqlda6xb4natw/1.jpg?raw=1" data-min-width="1000"></div>
								<div data-src="https://www.dropbox.com/s/oibqlda6xb4natw/1.jpg?raw=1" data-min-width="700"></div>
								<div data-src="https://www.dropbox.com/s/oibqlda6xb4natw/1.jpg?raw=1" data-min-width="300"></div>
								<div data-src="https://www.dropbox.com/s/oibqlda6xb4natw/1.jpg?raw=1" data-min-width="200"></div>
								<div data-src="https://www.dropbox.com/s/oibqlda6xb4natw/1.jpg?raw=1" data-min-width="140"></div>
								<div data-src="https://www.dropbox.com/s/oibqlda6xb4natw/1.jpg?raw=1"></div>
								<noscript>
									<%= image_tag "https://www.dropbox.com/s/oibqlda6xb4natw/1.jpg?raw=1", alt: "img01" %>
								</noscript>
							</div>
						</li>

						<li>
							<div data-alt="img01" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="http://www.dropbox.com/s/chfs7zpv5t0or5k/2.jpg?raw=1" data-min-width="1300"></div>
								<div data-src="http://www.dropbox.com/s/chfs7zpv5t0or5k/2.jpg?raw=1" data-min-width="1000"></div>
								<div data-src="http://www.dropbox.com/s/chfs7zpv5t0or5k/2.jpg?raw=1" data-min-width="700"></div>
								<div data-src="http://www.dropbox.com/s/chfs7zpv5t0or5k/2.jpg?raw=1" data-min-width="300"></div>
								<div data-src="http://www.dropbox.com/s/chfs7zpv5t0or5k/2.jpg?raw=1" data-min-width="200"></div>
								<div data-src="http://www.dropbox.com/s/chfs7zpv5t0or5k/2.jpg?raw=1" data-min-width="140"></div>
								<div data-src="http://www.dropbox.com/s/chfs7zpv5t0or5k/2.jpg?raw=1"></div>
								<noscript>
									<%= image_tag "http://www.dropbox.com/s/chfs7zpv5t0or5k/2.jpg?raw=1", alt: "img01" %>
								</noscript>
							</div>
						</li>

						<li>
							<div data-alt="img02" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="1300"></div>
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="1000"></div>
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="700"></div>
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="300"></div>
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="200"></div>
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="140"></div>
								<div data-src="<%= asset_path('image2.jpg') %>"></div>
								<noscript>
									<%= image_tag "image2.jpg", alt: "img02" %>
								</noscript>
							</div>
						</li>
					
						<li>
							<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="1300"></div>
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="1000"></div>
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="700"></div>
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="300"></div>
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="200"></div>
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="140"></div>
								<div data-src="<%= asset_path('image3.jpg') %>"></div>
								<noscript>
									<!-- <%= image_tag "image3.jpg", alt: "img03" %> -->
									<%= image_tag "image3.jpg", alt: "img03" %>
								</noscript>
							</div>
						</li>
						
						<li>
							<div data-alt="img04" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="1300"></div>
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="1000"></div>
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="700"></div>
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="300"></div>
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="200"></div>
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="140"></div>
								<div data-src="<%= asset_path('image4.jpg') %>"></div>
								<noscript>
									<%= image_tag "image4.jpg", alt: "img04" %>
								</noscript>
							</div>
						</li>

						<li>
							<div data-alt="img05" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="1300"></div>
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="1000"></div>
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="700"></div>
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="300"></div>
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="200"></div>
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="140"></div>
								<div data-src="<%= asset_path('image5.jpg') %>"></div>
								<noscript>
									<%= image_tag "image5.jpg", alt: "img05" %>
								</noscript>
							</div>
						</li>
						
						<li>
							<div data-alt="img01" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="<%= asset_path('image1.jpg') %>" data-min-width="1300"></div>
								<div data-src="<%= asset_path('image1.jpg') %>" data-min-width="1000"></div>
								<div data-src="<%= asset_path('image1.jpg') %>" data-min-width="700"></div>
								<div data-src="<%= asset_path('image1.jpg') %>" data-min-width="300"></div>
								<div data-src="<%= asset_path('image1.jpg') %>" data-min-width="200"></div>
								<div data-src="<%= asset_path('image1.jpg') %>" data-min-width="140"></div>
								<div data-src="<%= asset_path('image1.jpg') %>"></div>
								<noscript>
									<%= image_tag "image1.jpg", alt: "img01" %>
								</noscript>
							</div>
						</li>

						<li>
							<div data-alt="img02" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="1300"></div>
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="1000"></div>
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="700"></div>
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="300"></div>
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="200"></div>
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="140"></div>
								<div data-src="<%= asset_path('image2.jpg') %>"></div>
								<noscript>
									<%= image_tag "image2.jpg", alt: "img02" %>
								</noscript>
							</div>
						</li>
					
						<li>
							<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="1300"></div>
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="1000"></div>
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="700"></div>
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="300"></div>
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="200"></div>
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="140"></div>
								<div data-src="<%= asset_path('image3.jpg') %>"></div>
								<noscript>
									<%= image_tag "image3.jpg", alt: "img03" %>
								</noscript>
							</div>
						</li>
						
						<li>
							<div data-alt="img04" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="1300"></div>
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="1000"></div>
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="700"></div>
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="300"></div>
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="200"></div>
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="140"></div>
								<div data-src="<%= asset_path('image4.jpg') %>"></div>
								<noscript>
									<%= image_tag "image4.jpg", alt: "img04" %>
								</noscript>
							</div>
						</li>

						<li>
							<div data-alt="img05" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="1300"></div>
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="1000"></div>
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="700"></div>
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="300"></div>
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="200"></div>
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="140"></div>
								<div data-src="<%= asset_path('image5.jpg') %>"></div>
								<noscript>
									<%= image_tag "image5.jpg", alt: "img05" %>
								</noscript>
							</div>
						</li>

						<li>
							<div data-alt="img01" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="<%= asset_path('image1.jpg') %>" data-min-width="1300"></div>
								<div data-src="<%= asset_path('image1.jpg') %>" data-min-width="1000"></div>
								<div data-src="<%= asset_path('image1.jpg') %>" data-min-width="700"></div>
								<div data-src="<%= asset_path('image1.jpg') %>" data-min-width="300"></div>
								<div data-src="<%= asset_path('image1.jpg') %>" data-min-width="200"></div>
								<div data-src="<%= asset_path('image1.jpg') %>" data-min-width="140"></div>
								<div data-src="<%= asset_path('image1.jpg') %>"></div>
								<noscript>
									<%= image_tag "image1.jpg", alt: "img01" %>
								</noscript>
							</div>
						</li>

						<li>
							<div data-alt="img02" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="1300"></div>
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="1000"></div>
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="700"></div>
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="300"></div>
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="200"></div>
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="140"></div>
								<div data-src="<%= asset_path('image2.jpg') %>"></div>
								<noscript>
									<%= image_tag "image2.jpg", alt: "img02" %>
								</noscript>
							</div>
						</li>
					
						<li>
							<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="1300"></div>
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="1000"></div>
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="700"></div>
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="300"></div>
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="200"></div>
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="140"></div>
								<div data-src="<%= asset_path('image3.jpg') %>"></div>
								<noscript>
									<%= image_tag "image3.jpg", alt: "img03" %>
								</noscript>
							</div>
						</li>
						
						<li>
							<div data-alt="img04" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="1300"></div>
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="1000"></div>
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="700"></div>
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="300"></div>
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="200"></div>
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="140"></div>
								<div data-src="<%= asset_path('image4.jpg') %>"></div>
								<noscript>
									<%= image_tag "image4.jpg", alt: "img04" %>
								</noscript>
							</div>
						</li>

						<li>
							<div data-alt="img05" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="1300"></div>
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="1000"></div>
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="700"></div>
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="300"></div>
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="200"></div>
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="140"></div>
								<div data-src="<%= asset_path('image5.jpg') %>"></div>
								<noscript>
									<%= image_tag "image5.jpg", alt: "img05" %>
								</noscript>
							</div>
						</li>

						<li>
							<div data-alt="img01" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="<%= asset_path('image1.jpg') %>" data-min-width="1300"></div>
								<div data-src="<%= asset_path('image1.jpg') %>" data-min-width="1000"></div>
								<div data-src="<%= asset_path('image1.jpg') %>" data-min-width="700"></div>
								<div data-src="<%= asset_path('image1.jpg') %>" data-min-width="300"></div>
								<div data-src="<%= asset_path('image1.jpg') %>" data-min-width="200"></div>
								<div data-src="<%= asset_path('image1.jpg') %>" data-min-width="140"></div>
								<div data-src="<%= asset_path('image1.jpg') %>"></div>
								<noscript>
									<%= image_tag "image1.jpg", alt: "img01" %>
								</noscript>
							</div>
						</li>

						<li>
							<div data-alt="img02" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="1300"></div>
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="1000"></div>
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="700"></div>
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="300"></div>
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="200"></div>
								<div data-src="<%= asset_path('image2.jpg') %>" data-min-width="140"></div>
								<div data-src="<%= asset_path('image2.jpg') %>"></div>
								<noscript>
									<%= image_tag "image2.jpg", alt: "img02" %>
								</noscript>
							</div>
						</li>
					
						<li>
							<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="1300"></div>
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="1000"></div>
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="700"></div>
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="300"></div>
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="200"></div>
								<div data-src="<%= asset_path('image3.jpg') %>" data-min-width="140"></div>
								<div data-src="<%= asset_path('image3.jpg') %>"></div>
								<noscript>
									<%= image_tag "image3.jpg", alt: "img03" %>
								</noscript>
							</div>
						</li>
						
						<li>
							<div data-alt="img04" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="1300"></div>
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="1000"></div>
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="700"></div>
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="300"></div>
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="200"></div>
								<div data-src="<%= asset_path('image4.jpg') %>" data-min-width="140"></div>
								<div data-src="<%= asset_path('image4.jpg') %>"></div>
								<noscript>
									<%= image_tag "image4.jpg", alt: "img04" %>
								</noscript>
							</div>
						</li>

						<li>
							<div data-alt="img05" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="1300"></div>
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="1000"></div>
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="700"></div>
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="300"></div>
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="200"></div>
								<div data-src="<%= asset_path('image5.jpg') %>" data-min-width="140"></div>
								<div data-src="<%= asset_path('image5.jpg') %>"></div>
								<noscript>
									<%= image_tag "image5.jpg", alt: "img05" %>
								</noscript>
							</div>
						</li>
					</ul>
	
					<div class="gamma-overlay">
						
					</div>
			</div>
		</div>
	</div>
	<div id="gallery-wall-to-gallery" onclick="vertical_button_click(this.id);">Gallery</div>
</section>

<section class="section section-gallery-collection relative-pos" id="gallery-collection">
	<div class="container-fluid">

		<div class="pattern_logo" id="collection-to-gallery" onclick="horizontal_button_click(this.id);">
			<h1>PATTERN</h1>
		</div>

		<div class="collection collection1">
			<a href="javascript:void(0)" id="view-image" onclick="horizontal_button_click(this.id);">
				<%= image_tag "collection-img1.jpg" %>
			</a>
		</div>

		<div class="collection collection2">
			<a href="javascript:void(0)" id="view-image" onclick="horizontal_button_click(this.id);">
				<%= image_tag "collection-img2.jpg" %>
			</a>
		</div>

		<div class="collection collection3">
			<a href="javascript:void(0)" id="view-image" onclick="horizontal_button_click(this.id);">
				<%= image_tag "collection-img3.jpg" %>
			</a>
		</div>

		<div class="collection collection4">
			<a href="javascript:void(0)" id="view-image" onclick="horizontal_button_click(this.id);">
				<%= image_tag "collection-img4.jpg" %>
			</a>
		</div>

	</div>
</section>

<!-- <section class="section section-selected-gallery-collection" id="selected-image">

	<div class="pattern_logo_bottom">
		<h1>PATTERN</h1>
	</div>

	<div class="cast_btn">
  	<button>Cast</button>
	</div>

	<div class="selected_collection">
		<%#= image_tag "collection-img3.jpg" %>
	</div>

	<div id="back-to-collection" onclick="horizontal_button_click(this.id);"></div>
	<div id="next-image" onclick="horizontal_button_click(this.id);"></div>

</section> -->