<section class="section section-login" id="top">
	<div class="col-sm-12 signup text-right">
		<h2>Not a member? <a href="#">Sign-up</a></h2>
	</div>
	<!-- LOGIN FORM -->
	<div class="row justify-content-center login_form">
		<div class="col-sm-6 col-md-4 text-center">
			<form>
				<div class="form_field">
					<label>Email Address</label>
					<input type="text" name="email" placeholder="example@email.com">
				</div>

				<div class="form_field">
					<label>Password</label>
					<input type="password" name="password">
				</div>

				<div class="form_field">
					<button>Login</button>
				</div>							
			</form>
		</div>
	</div>
	<!-- LOGIN FORM CLOSED -->
	<div id="login-to-home" onclick="vertical_button_click(this.id);">Home</div>
</section>

<section class="section section-home" id="center">

	<!-- <div class="logo">
		<%#= image_tag "elyxx.png" %>
		<h3>THE FUTURE OF ART AND ARCHITECTURE</h3>
	</div> -->

	<div class="animate">
		<div class="move-top"><%= image_tag "logo_01.png" %></div>
		<div class="part-two"><%= image_tag "logo_02.png" %></div>
	</div>

	<div id="about" onclick="horizontal_button_click(this.id);"><span id="about-text">About</span></div>
	<div id="profile" onclick="horizontal_button_click(this.id);"><span id="profile-text">Profile</span></div>
	<div id="login" onclick="vertical_button_click(this.id);"><span id="login-text">Login</span></div>
	<div id="gallery-main" onclick="vertical_button_click(this.id);"><span id="gallery-text">Gallery</span></div>
</section>

<section class="section section-gallery" id="gallery">

	<div class="gallery_logo">
		<%= image_tag "gallery.png" %>
		<h3>View our specially made collections of art from every facet of your imagination.</h3>
	</div>

	<div id="gallery-to-home" onclick="vertical_button_click(this.id);"><span id="gallery-home-text">Home</span></div>
	<div id="view-gallery" onclick="vertical_button_click(this.id);"><span id="gallery-view-text">View</span></div>
</section>

<section class="section section-about" id="left">
	left
	<div id="about-to-home" onclick="horizontal_button_click(this.id);"><span id="home-text">Home</span></div>
</section>

<section class="section section-profile" id="right">
	right
	<div id="profile-to-home" onclick="horizontal_button_click(this.id);">Home</div>
</section>

<section class="section section-gallery-wall" id="gallery-wall">
	<div class="container-fluid">
		<div class="col-sm-12">
			<div id="Center">
				<ul id="waterfall" class="list-unstyled">
					<% 1.upto(5) do |i| %>
					<li>
						<div>
							<a href="javascript:void(0)" id="view_collection" onclick="horizontal_button_click(this.id);">
								<span class="view"><h1>+</h1>View Collection</span>
							</a>
							<%= image_tag "image#{i}.jpg" %>
						</div>
					</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div id="gallery-wall-to-gallery" onclick="vertical_button_click(this.id);">Gallery</div>
</section>

<section class="section section-gallery-collection relative-pos" id="gallery-collection">
	<div class="container-fluid">

		<div class="pattern_logo" id="collection-to-gallery" onclick="horizontal_button_click(this.id);">
			<h1>PATTERN</h1>
		</div>

		<div class="collection collection1">
			<a href="javascript:void(0)" id="view-image" onclick="horizontal_button_click(this.id);">
				<%= image_tag "collection-img1.jpg" %>
			</a>
		</div>

		<div class="collection collection2">
			<a href="javascript:void(0)" id="view-image" onclick="horizontal_button_click(this.id);">
				<%= image_tag "collection-img2.jpg" %>
			</a>
		</div>

		<div class="collection collection3">
			<a href="javascript:void(0)" id="view-image" onclick="horizontal_button_click(this.id);">
				<%= image_tag "collection-img3.jpg" %>
			</a>
		</div>

		<div class="collection collection4">
			<a href="javascript:void(0)" id="view-image" onclick="horizontal_button_click(this.id);">
				<%= image_tag "collection-img4.jpg" %>
			</a>
		</div>

	</div>
</section>

<section class="section section-selected-gallery-collection" id="selected-image">

	<div class="pattern_logo_bottom">
		<h1>PATTERN</h1>
	</div>

	<div class="cast_btn">
  	<button>Cast</button>
	</div>

	<div class="selected_collection">
		<%= image_tag "collection-img3.jpg" %>
	</div>

	<div id="back-to-collection" onclick="horizontal_button_click(this.id);"></div>
	<div id="next-image" onclick="horizontal_button_click(this.id);"></div>

</section>

<script type="text/javascript">

	function horizontal_button_click(element_id)
      {
				
				if(element_id=="about")
        {
					//alert(element_id);
					$(".section-about").removeAttr("style");
					$(".section-home").removeAttr("style");
					
					$('.section-about').animate({"z-index": "5", "right": "0"}, "fast");
					$('.section-home').animate({"right": "-100%"}, "fast");
					//$('.section-home').css({ "right":"-100%"});
          //$('.section-about').css({"z-index":"5" , "right":"0"});
        }       
        
        else if(element_id=="profile")
        {
					
					$(".section-profile").removeAttr("style");
					$(".section-home").removeAttr("style");
					
					$('.section-profile').animate({"z-index": "5", "left": "0"}, "fast");
					$('.section-home').animate({"right": "100%"}, "fast");
          //$('.section-home').css({"right":"100%"});
					//$('.section-profile').css({"z-index":"5" , "left":"0"});
        }
				
        else if(element_id=="about-to-home")
        {
					
					$(".section-about").removeAttr("style");
					//$(".section-home").removeAttr("style");
					
					
					$('.section-about').animate({"right": "100%"}, "fast");
					$('.section-home').animate({"right": "0"}, "fast");
					
					//$('.section-home').css({"right":"0"});
					//$('.section-about').css({"right":"100%" });
        }

        else if(element_id=="profile-to-home")
        {
					$(".section-profile").removeAttr("style");
					//$(".section-home").removeAttr("style");
					
					$('.section-home').animate({"right": "0"}, "fast");
					$('.section-profile').animate({"left": "100%"}, "fast");
					
					
					//$('.section-home').css({"left":"0"});
          //$('.section-profile').css({"left":"100%" });
        }
				
				else if(element_id=="view_collection")
        {
					$(".section-gallery-wall").removeAttr("style");
					
					$('.section-gallery-collection').animate({"left": "0"}, "fast");
					$('.section-gallery-wall').animate({"left": "-100%", "top": "0"}, "fast");
        }
				
				else if(element_id=="collection-to-gallery")
        {
					$(".section-gallery-wall").removeAttr("style");
					$(".section-gallery-collection").removeAttr("style");
					
					$('.section-gallery-collection').animate({"left": "100%"}, "fast");
					$('.section-gallery-wall').animate({"left": "0", "top": "0"}, "fast");
        }
				
				else if(element_id=="view-image")
        {
					$(".section-gallery-collection").removeAttr("style");
					
					$('.section-gallery-collection').animate({"left": "-100%"}, "fast");
					$('.section-selected-gallery-collection').animate({"left": "0"}, "fast");
        }
				
				else if(element_id=="back-to-collection")
        {
					$(".section-gallery-collection").removeAttr("style");
					$(".section-gallery-collection").removeAttr("style");
					
					$('.section-gallery-collection').animate({"left": "0"}, "fast");
					$('.section-selected-gallery-collection').animate({"left": "100%"}, "fast");
        }
				
				
				

      }
			
      function vertical_button_click(element_id)
      {        
        if(element_id=="gallery-main")
        {
        	$("#gallery-home-text").hide(0).delay(1000).fadeIn(2000)
			 		$("#gallery-view-text").hide(0).delay(2000).fadeIn(2000)
          $('.section-gallery').css({"z-index":"5" , "top":"0", });
					$('.section-home').css({"top":"-100%"});
        }
        
        else if(element_id=="login")
        {
          $('.section-login').css({"z-index":"5" , "bottom":"0" });
					$('.section-home').css({"top":"100%"});
        }
        
        else if(element_id=="login-to-home")
        {
					$('.section-home').css({"z-index":"5" , "top":"0"});
          $('.section-login').css({"bottom":"100%"});
        }

        else if(element_id=="gallery-to-home")
        {
					$('.section-home').css({"z-index":"5" , "top":"0"});
          $('.section-gallery').css({"top":"100%"});
        }
				
				else if(element_id=="view-gallery")
        {
          $('.section-gallery-wall').css({"top":"0"});
					$('.section-gallery').css({"top":"-100%"});
        }
				
				else if(element_id=="gallery-wall-to-gallery")
        {
					$('.section-gallery-wall').css({"top":"100%"});
					$('.section-gallery').css({"top":"0"});
        }
				
      }

</script>